<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ruou Ngon Store</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="eCommerce HTML Template Free Download" name="keywords" />
    <meta content="eCommerce HTML Template Free Download" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/lib/slick/slick.css" rel="stylesheet" />
    <link href="/lib/slick/slick-theme.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Cart Start -->
    <h1 style="padding: 30px 600px; background: gray">Đơn đặt hàng</h1>
    <div class="info-company" style="margin-left: 200px">
      <h4 style="font-weight: bold">Công ty</h4>
      <p><%=data[0].TENNCC%></p>
      <h4 style="font-weight: bold">Địa chỉ</h4>
      <p><%=data[0].DIACHI%></p>
      <h4 style="font-weight: bold">Email</h4>
      <p><%=data[0].EMAIL%></p>
      <h4 style="font-weight: bold">Số điện thoại</h4>
      <p><%=data[0].SDT%></p>
    </div>

    <div class="cart-page" style="margin-left: 200px; max-width: 1100px">
      <div
        class="container"
        style="max-width: 1100px; margin: 0 auto; margin-left: 80px"
      >
        <div class="row">
          <div class="col-lg-10">
            <div class="cart-page-inner">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <div class="clear-cart">
                    <!-- <button class="ClearCartBtn" onclick="clearCart()">
                      Clear Cart
                    </button> -->
                  </div>
                  <h4>Danh sách sản phẩm</h4>
                  <thead class="thead-dark">
                    <tr>
                      <th>Sản phẩm</th>
                      <th>Giá</th>
                      <th>Số lượng</th>
                      <th>Tổng</th>
                      <th>Xóa</th>
                    </tr>
                  </thead>
                  <tbody class="align-middle" id="cart"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form
      name="myform"
      id="form-info-order"
      action="/quan-tri/saveOrder"
      method="post"
      onsubmit="return checkValidateID()"
    >
      <div class="row" id="checkout-info">
        <div class="col-md-6">
          <input
            class="form-control"
            name="idncc"
            id="order-name2"
            type="hidden"
            placeholder="Tên"
            value="<%=data[0].MANCC%>"
          />
        </div>
        <div class="col-md-6">
          <p style="font-weight: bold; margin-left: 20px">Nhập mã đơn hàng</p>
          <input
            class="form-control"
            name="iddh"
            id="idorder"
            type="text"
            placeholder="Nhập mã đơn hàng"
            style="width: 200px"
          />
          <p style="color: red" id="render-fault"></p>
        </div>
        <input
          class="btn-checkout"
          type="submit"
          value="Lưu và xuất File Excel"
          style="margin-left: 800px"
        />
      </div>
    </form>

    <table id="data">
      <tbody></tbody>
    </table>
    <!-- <button onclick="getData()">DATA</button>
    <button onclick="exportToExcel('Orders', 'Orders', 'ĐƠN ĐẶT HÀNG')">
      Export to Excel
    </button> -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script src="/js/export2excel.js"></script>
    <script lang="javascript" src="/dist/xlsx.full.min.js"></script>
    <script
      lang="javascript"
      src="https://codelaghien.club/js/exportexcel/exceljs/dist/exceljs.min.js"
    ></script>
    <script lang="javascript" src="/dist/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </body>
</html>

<script>
  var listidddh;
  $.get("http://localhost:3000/quan-tri/api/IDDONDATHANG", (data) => {
    listidddh = data;
    console.log(data);
  });

  renderFormsubmit();

  function checkValidateID() {
    $("#render-fault").empty();
    let id = document.myform.iddh.value;
    const div = document.getElementById("render-fault");
    let idx = listidddh.findIndex((val) => val.MADDH === id);
    if (idx !== -1) {
      div.innerHTML += "Mã đơn đặt hàng đã tồn tại!!!";
      console.log("sai");
      return false;
    } else {
      window.alert("Hoàn tất đơn đặt hàng!!!");
      exportToExcel("Orders", "Orders", "ĐƠN ĐẶT HÀNG");
    }
  }

  function rendercart(data, id) {
    $(".align-middle").empty();

    const divcart = document.getElementById(id);

    let str = ``;
    for (i in data) {
      var sp = data[i];

      sp.sum = sp.quantity * sp.GIA;

      str += `     <div class="item-cart">
                    <tr>
                       <td>
                        <div class="img">
                          <a href=""
                            ><img src="/${sp.HINHANH}" alt="Image"
                          /></a>
                          <p class="name" id="name">
                            ${sp.TENDONG}
                            </p>
                        </div>
                      </td>
                      <td class="price">${sp.GIA} $</td>
                      <td>
                        <div class="qty">
                          <button class="btn-minus" data-id="${sp.MADONG}">
                            <i class="fa fa-minus"></i>
                          </button>
                          <input id="value" type="text" value="${
                            sp.quantity
                          }" />
                          <button class="btn-plus" data-id="${sp.MADONG}">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </td>
                      <td class="sum-price">${sp.sum.toFixed(2)} $</td>
                      <td>
                        <button class="delete-item" data-id="${sp.MADONG}" >
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                    </div>`;
    }
    divcart.innerHTML += str;
  }

  function makeid(length) {
    var text = "";
    var possible =
      "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for (var i = 0; i < length; i++)
      text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
  }

  function renderFormsubmit() {
    $(".checkout-info").empty();
    var id = makeid(10);

    const div = document.getElementById("checkout-info");

    let cartnow = localStorage.getItem("keycart1");
    let idnv = localStorage.getItem("recentadmin");
    let str = ``;

    str = `        
                    <div class="col-md-6">
                      <input
                        class="form-control"
                        name="idnv"
                        id="order-name2"
                        type="hidden"
                        placeholder="Tên"
                        value='${idnv}'
                      />
                    </div>
                    <div class="col-md-6">
                      <input
                        class="form-control "
                        name="arrCart1"
                        id="order-surname2"
                        type="hidden"
                        placeholder="Họ"
                        value='${cartnow}'
                      />
                    </div>
                    
                 `;
    div.innerHTML += str;
  }

  function check_cart_null() {
    const cartarray = JSON.parse(localStorage.getItem("keycart"));

    if (cartarray.length <= 0) {
      window.alert("Giỏ hàng rỗng!!!");
    } else {
      window.location.href = "/users/check-out";
    }
  }

  $(document).on("click", ".delete-item", function () {
    let id = "cart";
    const item = $(this).attr("data-id");

    console.log(item);

    const cartarray = JSON.parse(localStorage.getItem("keycart1"));

    const idx = cartarray.findIndex((val) => val.MADONG === item);
    console.log(idx);
    if (idx == cartarray.length - 1) {
      cartarray.pop();
    } else cartarray.splice(idx, 1);

    //chuyen danh sach item sau khi xoa thanh json
    var jsoncart = JSON.stringify(cartarray);

    // //luu vao localstorage
    localStorage.setItem("keycart1", jsoncart);

    //render lai danh sach item gio hang
    const newcart = JSON.parse(localStorage.getItem("keycart1"));
    rendercart(newcart, id);

    // const id = $(this).parents("td").data("id");
    // const idx = cart.findIndex((val) => val.MADONG === id);
    // cart.splice(idx, 1);
    // render_cart_sum();
    renderFormsubmit();
  });

  $(document).on("click", ".btn-minus", function () {
    let id = "cart";
    const item = $(this).attr("data-id");
    const cartarray = JSON.parse(localStorage.getItem("keycart1"));

    const idx = cartarray.findIndex((val) => val.MADONG === item);
    if (cartarray[idx].quantity > 1) {
      cartarray[idx].quantity = cartarray[idx].quantity - 1;
    }

    // //chuyen danh sach item sau khi xoa thanh json
    var jsoncart = JSON.stringify(cartarray);
    // // //luu vao localstorage
    localStorage.setItem("keycart1", jsoncart);
    // //render lai danh sach item gio hang
    const newcart = JSON.parse(localStorage.getItem("keycart1"));
    rendercart(newcart, id);
    // render_cart_sum();
    renderFormsubmit();
  });

  $(document).on("click", ".btn-plus", function () {
    let id = "cart";
    const item = $(this).attr("data-id");
    const cartarray = JSON.parse(localStorage.getItem("keycart1"));

    const idx = cartarray.findIndex((val) => val.MADONG === item);

    cartarray[idx].quantity = cartarray[idx].quantity + 1;
    // //chuyen danh sach item sau khi xoa thanh json
    var jsoncart = JSON.stringify(cartarray);
    // // //luu vao localstorage
    localStorage.setItem("keycart1", jsoncart);
    // //render lai danh sach item gio hang
    const newcart = JSON.parse(localStorage.getItem("keycart1"));
    rendercart(newcart, id);
    // render_cart_sum();
    renderFormsubmit();
  });

  getitemcart();

  function getitemcart() {
    const cartarray = JSON.parse(localStorage.getItem("keycart1"));
    console.log(cartarray);
    let id = "cart";
    rendercart(cartarray, id);
  }

  function clearCart() {
    let id = "cart";
    const cartarray = JSON.parse(localStorage.getItem("keycart1"));
    cartarray.splice(0, cartarray.length);
    var jsoncart = JSON.stringify(cartarray);
    localStorage.setItem("keycart1", jsoncart);
    //render lai danh sach item gio hang
    const newcart = JSON.parse(localStorage.getItem("keycart1"));
    rendercart(newcart, id);
    render_cart_sum();
  }
</script>
